# Raíz

# Carpetas de binarios y empaquetado de Neutralinojs
/bin/
/dist/
.tmp/
node_modules/
neutralinojs.log


# frontend

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
/app/dist/
/app/assets/index-*.js
/app/assets/index-*.css

README_FREC.md
